<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card shadow-sm">
        <div class="card-body">
          <h2 class="card-title mb-4">Editar Usuario</h2>
          <%= render "form", client_user: @client_user %>
        </div>
      </div>
    </div>
  </div>
</div>
