<%= turbo_frame_tag dom_id(@post) do %>
  <div class="card shadow-sm border-primary mb-3">
    <div class="card-body">
      <h6 class="text-primary mb-3">Editando Publicación #<%= @post.id %></h6>
      <%= render "form", post: @post %>
    </div>
  </div>
<% end %>